<%- include("partials/header") -%>

<div class="post"><%- homestart.slice(0, 199) + "..." %></div>

<div class="posts">
  <%x.forEach(function(post){%>
<div class="post">

            <h1><%= post.title.toUpperCase() %></h1>
              <p><%= post.body.substring(0, 199) + "..." %></p>

                  <a href="post/<%=post.title%>">Read more</a>
                <br>
                <br>
                <h6><%= post.dateAdded %></h6>

</div>
  <%})%>

</div>



<%- include("partials/footer") -%>
