<%- include("partials/header") -%>



<div class="post">

    <h1><%= title %></h1>
    <hr>
    <p><%= content %></p>
    <br>
      <p class="signature">Posted by <strong><%= author %></strong>: <%= added %></p>
</div>


<%- include("partials/footer") -%>
